/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px; /* Adjusted to match previous border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 340px;
}

.login-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd; /* Adjusted border to match previous styles */
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007bff; /* Adjusted color to match focus border color in previous styles */
    outline: none;
}

/* Remember and forgot password styles */
.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    color: #007bff; /* Adjusted color to match previous styles */
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Button styles */
.login-button {
    background-color: #007bff; /* Adjusted to match previous button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Match previous button font size */
}

.login-button:hover {
    background-color: #0056b3; /* Darker shade to match previous button hover color */
}
